<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GPIG</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a>Find Buildings</a></li>
                    <li><a>Allocate Resources</a></li>
                </ul>
            </nav>
        </header>
        <div id="container">
            <div id="panel">
                <div id="layer-controls">
                    <h2 class="center">Layers</h2>
                    <!-- Checkbox from https://www.inserthtml.com/2012/06/custom-form-radio-checkbox/ -->
                    <div class="tag">Satellite Image</div>
                    <div class="button-holder">
                        <input type="radio" id="radio-before" name="radio-flood-set" class="regular-radio" checked="checked" onclick="showBeforeImage();"/><label for="radio-before">Before Flood</label>
                        <br />
                        <input type="radio" id="radio-after" name="radio-flood-set" class="regular-radio" onclick="showAfterImage();" /><label for="radio-after">After Flood</label>
                    </div>
                    <br />
                    <div class="tag">Data</div>
                    <div>
                        <input type="checkbox" id="checkbox-flood-area" checked="checked" class="regular-checkbox" /><label for="checkbox-flood-area">Flood Area</label>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox-affected-buildings" checked="checked" class="regular-checkbox" /><label for="checkbox-affected-buildings">Affected Buildings</label>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox-safe-zones" checked="checked" class="regular-checkbox" /><label for="checkbox-safe-zones">Safe Zones</label>
                    </div>
                </div>
                <hr />
                <div id="resources">
                    <h2>Available Resources</h2>
                    <h3>Rescue Boats: 1/2</h3>
                    <h3>Paramedics: 4/15</h3>
                    <h3>Firefighters: 4/10</h3>
                    <h3>Safe Zone Capacity Remaining: 35%</h3>
                </div>
            </div>
            <div id="layers">
                <canvas id="main"></canvas>
                <img class="layer" id="beforeImage" />
                <img class="layer" id="afterImage" style="display: none;" />
            </div>
        </div>
    </body>
    <script src="//code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/min/jcanvas.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>