<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GPIG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
    <body>
        <div class="tasks">
            <div>
                <h1>Overview</h1>
                <table>
                    <thead>
                        <tr>
                            <td>Resource</td><td>Usage</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rescue Boats</td>
                            <td>1/2</td>
                        </tr>
                        <tr>
                            <td>Paramedics</td>
                            <td>4/15</td>
                        </tr>
                        <tr>
                            <td>Firefighters</td>
                            <td>4/10</td>
                        </tr>
                        <tr>
                            <td>Safe Zone Capacity</td>
                            <td>35%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div><h1>Task 1</h1></div>
            <hr>
            <div><h1>Task 2</h1></div>
            <hr>
            <div><h1>Task 3</h1></div>
            <hr>
            <div><h1>Task 4</h1></div>
            <hr>
            <div><h1>Task 5</h1></div>
        </div>
        <div id="layers-container">
            <div id="layers">
                <div class="legend">
                    <div>
                        <input type="checkbox" id="checkbox-flood-area" checked="checked" class="regular-checkbox" /> <label for="checkbox-flood-area">Flood Area</label>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox-affected-buildings" checked="checked" class="regular-checkbox" /> <label for="checkbox-affected-buildings">Affected Buildings</label>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox-safe-zones" checked="checked" class="regular-checkbox" /> <label for="checkbox-safe-zones">Safe Zones</label>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox-resources" checked="checked" class="regular-checkbox" /> <label for="checkbox-resources">Resources</label>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox-people" checked="checked" class="regular-checkbox" /> <label for="checkbox-people">Affected People
                        </label>
                    </div>
                </div>
                <div class="select">
                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active" onclick="showBeforeImage();">
                            <input type="radio" id="radio-before" autocomplete="off" name="options" checked> Before
                        </label>
                        <label class="btn btn-secondary" onclick="showAfterImage();">
                            <input type="radio" id="radio-after" autocomplete="off" name="options"> After
                        </label>
                        <label class="btn btn-secondary" onclick="showMapImage();">
                            <input type="radio" id="radio-map" autocomplete="off" name="options"> Map
                        </label>
                    </div>
                </div>
                <canvas id="main"></canvas>
                <img class="layer" id="beforeImage" />
                <img class="layer" id="afterImage" style="display: none;" />
                <img class="layer" id="mapImage" style="display: none;" />
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/min/jcanvas.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
