nav
{
    text-align: center;
    background-color: #77bdff;
}

nav ul
{
    list-style-type: none;
    width:100%;
    display: inline-flex;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

nav ul li
{
     width: 100%;
     color: white;
     background-color: blue;
     border-radius: 10px;
     margin-left: 10px;
     margin-right: 10px;
}

nav ul li a
{
    padding: 17px;
    display: block;
}
nav ul li:hover
{
    background-color: lightblue;
    color: yellowgreen;
    cursor: pointer;
}

nav ul li:active
{
    background-color: red;
    color: purple;
}


#panel
{
    background-color: aqua;
    height: 100%;
    width: 15%;
    float: left;
    left: 0;
}

#panel #top
{
    font-family: 'Courier New', Courier, monospace;
}

#images
{
    position: relative;
    text-align: center;
    background-color: coral;
    margin-left: 15%;
}