html, body{
    width:100%;
    height:100%;
}
html
{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.center
{
	text-align: center;
}

header
{
	margin-bottom: 10px;
}

nav
{
    text-align: center;
}

nav ul
{
    list-style-type: none;
    width:100%;
    display: inline-flex;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

nav ul li
{
     width: 100%;
     color: white;
     background-color: red;
     border-radius: 10px;
     margin-left: 10px;
     margin-right: 10px;
}

nav ul li a
{
    padding: 17px;
    display: block;
}
nav ul li:hover
{
    background-color: lightblue;
    color: yellowgreen;
    cursor: pointer;
}

nav ul li:active
{
    background-color: orange;
    color: purple;
}

#container{
    height:100%;
}

.tasks
{
    background-color:whitesmoke;
    border-left: 1px solid rgba(0,0,0,.1);
    height: 100%;
    width: 400px;
    float: right;
    z-index:5;
    position:relative;
}
.tasks>div.overview{
    background-color:darkslategray;
    color:white;
}
.tasks>div.overview .progress{
    margin-top:15px;
    margin-bottom:15px;
}
.tasks>div{
    position:relative;
    padding:20px;
}
.tasks>div .arrow{
    position:absolute;
    top:50%;
    margin-top:-24px;
    margin-left:-56px;
    display:none;
    width: 0; 
    height: 0; 
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent; 
    border-right: 36px solid whitesmoke;
}
.tasks>div.active .arrow{
    display:block;
}
.tasks>div h1{
    margin-bottom: 0;
}
.tasks>div .resources{
    display:none;
}
.tasks>div.active .resources{
    display:block;
}
.tasks>hr{
    margin:0;
}
#layers-container
{
    width:100%;
    height:100%;
    padding-right: 400px;
    background-color:gray;
}
#layers{
    overflow:hidden;
    position:relative;
    width:100%;
    height:100%;
}
#layers .legend{
    border-radius: 2px;
    padding:10px;
    background-color: whitesmoke;
    z-index:6;
    position:absolute;
    bottom:15px;
    left:15px;
}

/**
 * Custom Coloured Checkboxes!
 */
.legend label{
    display:inherit;
    position:relative;
    padding-left:35px;
}
.legend label input{
    opacity:0;
    display:none;
}
.legend label .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.legend label:hover input ~ .checkmark{
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.legend label:nth-child(1) input:checked ~ .checkmark {
    background-color: rgb(0,0,126);
}
.legend label:nth-child(2) input:checked ~ .checkmark {
    background-color: rgb(221, 17, 17);
}
.legend label:nth-child(3) input:checked ~ .checkmark {
    background-color: rgb(5, 178, 14);
}
.legend label:nth-child(4) input:checked ~ .checkmark {
    background-color: blue;
}
/*.legend label:nth-child(5) input:checked ~ .checkmark {
    background-color: red;
}*/

/* Create the checkmark/indicator (hidden when not checked) */
.legend label input:checked ~ .checkmark:after{
    display:block;
}
.legend label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


#layers .select{
    z-index:5;
    position:absolute;
    bottom:15px;
    right:15px;
}

.layer
{
    min-width: 100%;
    min-height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index: 1;
}

canvas.layer
{
    background-repeat: no-repeat;
    z-index: 2;
}

label {
	display: inline;
}

.tag
{
	font-weight: bold;
}
